.search {
  width: 100%;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#containerBtn {
  height: 100%;
  margin: 5px;
  text-align: center;
}

.search #containerBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 122px;
  height: 25px;
}

.search #containerBtn #darkmode {
  font-size: 1em;
}

.search #containerBtn .dark {
  cursor: pointer;
  opacity: 0.8;
  display: flex;
  align-items: center;
  z-index: 999999;
  width: 45px;
  height: 22px;
  background-color: grey;
  border-radius: 100px;
}

.search #containerBtn .dark > #darkBtn {
  cursor: pointer;
  border: none;
  margin: 2px;
  width: 18px;
  height: 18px;
  background-color: #dadada;
  border-radius: 100px;
  transition: transform 0.3s ease-in-out;
}

.darkBody {
  background-color: #333;
  cursor: default;
  color: white;
}

.darkBody .darkBtn {
  transform: translateX(23px);
}

.menu-serie {
  height: 50px;
  width: 27%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 150px auto;
}
.menu-serie a {
  color: white;
  text-decoration: none;
  background-color: #B8CBD0;
  border-radius: 50%;
  padding: 4px 13px;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body,
html {
  font-family: "Montserrat", "Arial", sans-serif;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

header,
main {
  position: relative;
  max-width: 100%;
  margin: auto;
  line-height: 120%;
}

h2 {
  font-size: medium;
}

/* HEADER */
header {
  width: 100%;
  height: 105px;
  background-color: #709CA7;
  display: flex;
  margin-bottom: 50px;
}

nav {
  display: flex;
  padding: 40px 0 0 0;
}

.menu {
  height: 81%;
}

.menu li {
  display: table-cell;
  list-style: none;
}

.menu li a {
  color: black;
  padding: 15px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.menu li a:hover:before {
  content: "";
  background: #137C8B;
  width: 100%;
  height: 40px;
  position: absolute;
  z-index: -1;
}

.menu li a:before {
  content: "";
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0;
  bottom: 3px;
  -webkit-transition: height 0.5s 0s;
  -moz-transition: height 0.5s 0s;
  -ms-transition: height 0.5s 0s;
  -o-transition: height 0.5s 0s;
  transition: height 0.5s 0s;
}

.submenu {
  position: relative;
  z-index: 3;
  min-height: 50px;
  background: #137C8B;
  padding: 0;
  transition: all 0.4s cubic-bezier(0.34, 0.06, 0.5, 0.75);
  -webkit-transition: all 0.4s cubic-bezier(0.34, 0.06, 0.5, 0.75);
  transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  opacity: 0;
  -webkit-perspective: -150px;
  perspective: -150px;
}

.menu li:hover ul {
  opacity: 1;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}

.submenu li a {
  color: white;
  line-height: 30px;
  display: block;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
}

.submenu li a:before {
  content: "";
  display: none;
}

/* COULEUR DU SOUS MENU*/
.submenu li a:hover {
  color: #B8CBD0;
  background: #344D59;
}

.header-logo {
  height: 105px;
  width: 102%;
  position: relative;
  left: -2px;
}

.container_index {
  position: relative;
  z-index: 1;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.photo_home {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.photo-propos{
  width: 400px;
  height: 675px;
  margin: 50px 0 200px;
  background-image: url(../../images/Aure.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
}

.index_photo {
  width: 100%;
  margin: 20px 0;
}
.index_photo img {
  width: 100%;
}

.img-aure{
  margin: 20px 0;
}

.principal_index {
  width: 20%;
  text-align: justify;
}
.principal_index .titre_bloc {
  display: block;
  text-align: center;
}
.principal_index .italic {
  font-style: italic;
}

.logo_index {
  padding-top: 100px;
  margin: auto;
  width: 95%;
  text-align: center;
  font-size: x-large;
  height: 900px;
}

.photo_partenaires {
  margin: auto;
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo_partenaires {
  width: 23%;
  margin: 22px;
}
.logo_partenaires img {
  height: 210px;
  width: 75%;
}

.apropos {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  line-height: 145%;
}

.texte-propos {
  margin-bottom: 200px;
  width: 35%;
  text-align: justify;
}
.texte-propos p {
  margin: 40px 0;
}

.center {
  width: 47%;
  display: flex;
  font-size: 15px;
  margin: 10px 10px 125px;
  padding: 10px;
}

.card {
  max-width: 460px;
  margin: 50px auto;
  height: 100%;
}

.text {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.text_info {
  margin: 12px;
  height: 50%;
}

.text_synopsis {
  padding: 0 15px 20px;
  height: 50%;
}
.text_synopsis span {
  margin-bottom: 10px;
  display: block;
  border-bottom: 1px solid red;
  width: 19%;
}
.text_synopsis p {
  line-height: 20px;
}

.separate_mini {
  border: black 1px solid;
  width: 55%;
  text-align: center;
  margin: 20px auto;
}

.container_menu {
  margin: auto;
  line-height: 1.45rem;
  height: 100%;
  max-width: 97%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-with-hover {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 475px;
  margin: 0;
  width: 60%;
}

.card-with-hover > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.35s;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.card-with-hover:hover > img {
  transform: scale(1.15) translate3d(0, -20px, 0);
}

.card-with-hover > .card-caption {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(23, 28, 47, 0.6);
  transition: all 0.3s;
  transform: translate3d(0, 100%, 0);
  will-change: transform;
}

.card-with-hover > .card-caption > .card-caption-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  transition: all 0.3s;
  transform: translate3d(0);
  will-change: transform;
}

.card-with-hover > .card-caption h2 {
  display: block;
  color: #fff;
  margin: 0;
  padding: 0.6rem;
  transition: all 0.3s;
  background-color: rgba(23, 28, 47, 0.4);
  font-size: 18px;
  transform: translate3d(0, -100%, 0);
  will-change: transform;
}

.card-with-hover > .card-caption p {
  padding: 0 1rem;
  margin: 0;
  color: #fff;
  opacity: 0;
  transition: opacity 0.35s 0.1s;
  transform: translate3d(0);
  will-change: transform;
}

.card-with-hover:hover > .card-caption {
  transform: translateY(0);
}

.card-with-hover:hover > .card-caption > .card-caption-content {
  top: 50%;
  transform: translate(0, -50%);
}

.card-with-hover:hover > .card-caption h2 {
  background-color: rgba(255, 255, 255, 0);
  transform: translateY(0%);
}

.card-with-hover:hover > .card-caption p {
  opacity: 1;
}

/* FOOTER */
footer {
  position: fixed;
  z-index: 5;
  background-color: #7A90A4;
  height: 120px;
  margin-top: 100px;
  padding: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer a {
  width: 5%;
  margin: 0 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: opacity 0.4s;
}
footer a:hover {
  opacity: 1.2;
}
footer a:nth-child(1) {
  color: #fff;
}
footer a:nth-child(2) {
  color: #C23028;
  padding: 11px 0;
}
footer a:nth-child(3) {
  color: #0065fc;
}
footer a:nth-child(4) {
  color: blue;
}
footer i {
  font-size: 50px;
}

.footer_contact {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_titre {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  color: black;
}

@media screen and (max-width: 660px) {
  .menu li a:hover:before {
    background: none;
  }
}
@media screen and (max-width: 430px) {
  header {
    height: 130px;
  }
  nav {
    display: flex;
    padding: 25px 0px 18px 0;
  }
}
@media screen and (max-width: 860px) {
  .submenu {
    display: flex;
    flex-direction: column;
  }
  .header-logo {
    display: none;
  }
  .logo_index {
    display: none;
  }
}
@media screen and (max-witdh: 950px) {
  .container_index {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 767px) {
  menu ::before {
    text-align: center;
    display: none;
  }
}
@media screen and (max-width: 775px) {
  .container_index {
    flex-direction: column-reverse;
  }
  .principal_index {
    width: 75%;
    margin: 15px auto;
  }
  .photo_home {
    display: none;
  }
  .index_photo img {
    width: 90%;
    display: block;
    margin: 15px auto;
  }
}
@media screen and (max-width: 1020px) and (min-width: 710px) {
  .center {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
  }
}
@media screen and (max-width: 709px) {
  .container_menu {
    display: flex;
    flex-direction: column;
  }
  .center {
    width: 100%;
    flex-direction: column;
  }
  .card-with-hover {
    width: 85%;
    margin: auto;
  }
  .apropos {
    margin: auto;
    width: 90%;
  }
  .texte-propos {
    width: 85%;
  }
  .photo {
    display: none;
  }
  nav {
    padding: 10px;
  }
  .menu {
    padding: 10px 0 0 0;
    margin: -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu li {
    margin: 5px;
  }
  .menu li a {
    padding: 1px;
    border-bottom: 2px solid black;
  }
}

/*# sourceMappingURL=style.css.map */
